<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>015CFB0E-BDE8-4594-994F-F9766432CFC9.aiff</string>
	<string>en-US.lproj</string>
	<string>927795AD-7275-4DE3-929F-D2A6A24DD24D.aiff</string>
</array>
</plist>
